body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #e5e5e5;
}

.toolbar {
    width: 100%;
    background-color: #9D80E0;
    box-shadow: #9D80E0 0px 2px 10px;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 30px;
}

.instrumenteDesen {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3px;
}

label {
    margin-bottom: 5px;
}

canvas {
    width: 700px;
    height: 500px;
    display: block;
    margin: 20px auto;
    box-shadow: #9D80E0 0px 0px 10px;
    background-color: white;
    margin-top: 40px;
    top: 0;
    left: 0;
}

#exportRaster, #exportSVG {
    background-color: #9D80E0;
    box-shadow: white 0px 0px 5px;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}

input[type="color"], select {
    width: 60px;
    height: 30px;
    box-shadow: white 0px 0px 5px;
    border: none;
    cursor: pointer;
}

img {
    cursor: pointer;
}